extends layout

block content
  .container
    h2 Sửa ghi chú
    form(action=`/edit/${note.id}`, method="post")
      textarea(name="text", rows="3")= note.text
      label
        input(type="checkbox", name="pinned", checked=note.pinned)
        | Ghim ghi chú
      button(type="submit") Cập nhật
