doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || 'Web Ghi Ch칰'
    link(rel="stylesheet", href="/style.css")
    link(rel="icon", href="/icon.png", type="image/png")
  body
    header
      .container
        h1 Web Qu故믍 L칳 Ghi Ch칰
        if username
          .user-info
            span Xin ch맖, #{username}!
            a(href="/logout") 游뛁 캟캒ng xu故볎
            if username === 'admin'
              a(href="/users") 游녻 Qu故믍 l칳 ng퀋敲렬 d칯ng
        else
          .user-info
            a(href="/login") 캟캒ng nh故셣
            a(href="/register") 캟캒ng k칳

    main
      .container
        block content

    footer
      .container
        p 춸 2025 - Ghi ch칰 c치 nh칙n b敲를 캟故몂