extends layout

block content
  .login-page
    h2 ﾄ斉ハg nh蘯ｭp tﾃi kho蘯｣n

    if message
      .alert.alert-error= message

    form(action="/login", method="post")
      .form-group
        label(for="username") Tﾃｪn ﾄ惰ハg nh蘯ｭp
        input(type="text", name="username", id="username", placeholder="Nh蘯ｭp tﾃｪn ﾄ惰ハg nh蘯ｭp", required)

      .form-group
        label(for="password") M蘯ｭt kh蘯ｩu
        input(type="password", name="password", id="password", placeholder="Nh蘯ｭp m蘯ｭt kh蘯ｩu", required)

      button(type="submit") 沐 ﾄ斉ハg nh蘯ｭp

    p
      | Chﾆｰa cﾃｳ tﾃi kho蘯｣n?
      a(href="/register") ﾄ斉ハg kﾃｽ ngay