extends layout

block content
  .container
    h2 Đăng nhập
    if message
      .message= message
    form(action="/login", method="post")
      input(type="text", name="username", placeholder="Tên đăng nhập")
      input(type="password", name="password", placeholder="Mật khẩu")
      button(type="submit") Đăng nhập
