extends layout

block content
  .container
    h2 沒 ﾄ斉ハg kﾃｽ tﾃi kho蘯｣n

    if message
      .alert.alert-danger
        i.fa.fa-exclamation-circle(style='margin-right: 8px')
        | #{message}

    form(method='post', action='/register')
      input(type='text', name='username', placeholder='汨､ Tﾃｪn ﾄ惰ハg nh蘯ｭp', required)
      input(type='password', name='password', placeholder='沐 M蘯ｭt kh蘯ｩu', required)
      input(type='password', name='confirmPassword', placeholder='沐 Xﾃ｡c nh蘯ｭn m蘯ｭt kh蘯ｩu', required)
      button(type='submit') 沒 ﾄ斉ハg kﾃｽ

    .link
      a(href='/login') 沐 ﾄ静｣ cﾃｳ tﾃi kho蘯｣n? ﾄ斉ハg nh蘯ｭp ngay
