extends layout

block content
  .auth-container
    img.logo(src='/images/register.png', alt='ﾄ斉ハg kﾃｽ')
    h2 沒 ﾄ斉ハg kﾃｽ tﾃi kho蘯｣n

    if message
      .alert.alert-danger
        i.fa.fa-exclamation-circle(style='margin-right: 8px')
        | #{message}

    form(method='post', action='/register')
      .form-group
        i.fas.fa-user
        input(type='text', name='username', placeholder='Tﾃｪn ﾄ惰ハg nh蘯ｭp', required)

      .form-group
        i.fas.fa-lock
        input(type='password', name='password', placeholder='M蘯ｭt kh蘯ｩu', required)

      .form-group
        i.fas.fa-rotate
        input(type='password', name='confirmPassword', placeholder='Xﾃ｡c nh蘯ｭn m蘯ｭt kh蘯ｩu', required)

      button(type='submit') 沒 ﾄ斉ハg kﾃｽ

    .auth-link
      span ﾄ静｣ cﾃｳ tﾃi kho蘯｣n?
      a(href='/login') 沐 ﾄ斉ハg nh蘯ｭp ngay
